@CHARSET "UTF-8";

#cabecalho {
    background-color: green;
    border: 1px solid black;
    color: white;
    text-align: center;
    width: 100%
}

#logomarca_cliente {
    background-color: green;
    color: white;
    font-family: Verdana;
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
}

#menu {
    background-color: yellow;
    border: 1px solid black;
    color: darkblue;
    font-family: Verdana;
    font-size: medium;
    font-weight: bold;
    text-align: center;
    width: 100%
}

footer {
    background-color: blue;
    border: 1px solid black;
    color: white;
    text-align: center;
    width: 100%;
}

#lista_de_produtos {
    background-color: deepskyblue;
    border: 1px solid black;
    width: 100%;
}

#produto {
    border: 1px;
    border-style: solid;
    font-size: large;
    font-weight: bold;
    text-align: left;
}

#botao_comprar {
    background-color: red;
    border: 1px solid black;
    color: yellow;
    font-family: Arial;
    font-weight: bold;
}