@CHARSET "UTF-8";

/* .navbar-default{
}

.navbar-brand{
    font-family: Verdana;
    font-size: xx-large;
    font-weight: bold;
} */

.footer {
	position: relative;
	margin-bottom:0%;
	left: 0;
	bottom: 0;
    background-color: blue;
    border: 1px solid black;
    color: white;
    text-align: center;
    width: 100%;
}

#lista_de_produtos {
    border: 1px solid black;
	margin-left: 10%;
	width:80%;
}

#produto {
    border: 1px;
    border-style: solid;
    font-size: large;
    font-weight: bold;
    text-align: left;
    width: 50%;
}

/* #carrinho th{
	border: 2px outset #eee;
	background-color:#eee;
	padding:3px;
} */