<h3 id=”warning”><?=$this→mensagem?></h3>
<table id=”carrinho”>
<thead>
<?php
$titulos = array (‘Codigo’,
‘Nome’,
‘Quantidade’,
‘Preço Unitário’,
‘Total’,
‘Editar’,
 ‘Excluir’);
 Foreach ($titulos as $titulo)
{
 			echo ‘<th>’.$this→escape($titulo).’</th>’;
}
?>
</thead>
<?php
$somaTotal = 0;

foreach ($this->itens as $item)
{
 		$codigo = $item['id'];
 		$nome = $this->escape($item['nome']);
 		$quantidade = $this->escape($item['quantidade']);
 		$preco = $this→escape($item['valor']);
// Aqui foi necessário forçar o preço a assumir o formato americano
// porque ele não estava convertendo a moeda corretamente
 		$moeda = str_replace('.','',substr($preco,2));
 		$moeda = str_replace(',','.',$moeda);
 		$valorTotal = (float)$quantidade * (float)$moeda;
 		$totalItem = $this->escape(money_format('%.2n',$valorTotal));
// Aqui foi necessário forçar o preço a assumir o formato americano
// porque ele não estava convertendo a moeda corretamente
 		$moeda = str_replace('.','',substr($preco,2));
 		$moeda = str_replace(',','.',$moeda);
 		$valorTotal = 	(float)$quantidade * (float)$moeda;
 		$totalItem = 	$this->escape(money_format('%.2n',$valorTotal));
 		$editar = '<a href="./editar?id=' $codigo.'">E</a>';
 			$excluir= '<a href="./excluir?id='.$codigo.'">X</a>';

 			$somaTotal += $valorTotal;

		$colunas= array($codigo,
 			$nome,
 			$quantidade,
 			$preco,
 			$totalItem,
 			$editar,
	 		$excluir);
 							
 		echo '<tr>';
 		foreach ($colunas as $coluna)
 		{
 			echo '<td>';
 			echo $coluna;
 			echo '</td>';

 		}

 		echo '</tr>';
}
?>
</table>
<?='R$'.money_format('%.2n',$somaTotal)?><br/>
<a href="/zend/acme">Continuar comprando</a>
<a href="/zend/acme/carrinho/fechar">Fechar compra</a>